<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a class="sitename" [routerLink]="['/home']" fragment="home" style=" color:black;">
      <i class="fa fa-arrow-left" style="font-size: 24px;"></i>    
    </a>  
  </div>
</nav>

<section class="about-section"  id="about">
    <div class="section-inner-wrap">
       <div class="title-inner-wrap">
         <h2>خدماتنا</h2>
      </div>
      <div class="about-facts-wrap">
        <div class="fact-item" id="العناوين"> 
          <div class="fact-image">
            <img src="./../../assets/images/photo.jpg" alt=" " style="width: 226px; height: 180px;">   
                      </div>  
          <h3 class="fact-title"><span class="fact-date">اقتراح العناوين</span></h3>
          <p class="fact-desc">تعتبر خطوة اقتراح العنوان من أهم وأصعب خطوات البحث العلمي ، حيث يشترط أن تكون العناوين جديدة لم يسبق دراستها من قبل وتقدم منفعة في مجال التخصص بحيث يكون العنوان قابل للتطبيق. تستغرق مرحلة اعداد العنوان - والمنوطة بكوادرنا – ثلاثة أيام فقط من تاريخ تحويل الرسوم. مع العلم بأنه لم يسبق لأحد من عملاءنا رفض العناوين التي نقوم باقتراحها</p>
        </div>
        <div class="fact-item" id="البحث">
          <div class="fact-image">
            <img src="./../../assets/images/2.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>               
          <h3 class="fact-title"><span class="fact-date">كتابة خطة البحث</span></h3>
          <p class="fact-desc">تُعرّف خطة البحث على أنها التصور المستقبلي لتنفيذ البحث، من حيثّ آلية جمع المعلومات، أو معالجتها وتصنيفها وتحليل المحتوى العلمي، و طريقة عرض نتائجها بعد الانتهاء من تنفيذ البحث، وبمعنى آخر: خطة البحث هي بوصلة  الباحث، وتهتم بالخطوات التفصيلية التي يسترشد بها الباحث، والقواعد الأساسية التي تلزم أثناء تنفيذ عملية البحث، وهي المعيار الذي من خلاله يتم الحكم على جدوى البحث، وقدرة الباحث. أهمية إعداد خطة البحث
              تعرف خطة البحث على أنها التصور المستقبلي لتنفيذ البحوث او بمعنى اخر البوصلة التي ترشد الباحث للبدء بكتابة بحثه، وهي المعيار الذي من خلاله يتم الحكم على جدوى البحث، وقدرة الباحث العلمية. حيث سيتم كتابة خطة البحث خلال اسبوع واحد من تاريخ تحويل الرسوم  
          </p>
        </div>
        <div class="fact-item" id="كتابةالإطار">
          <div class="fact-image">
            <img src="./../../assets/images/1.jpeg" alt=""  style="width: 226px; height: 180px;">            </div>              
          <h3 class="fact-title"><span class="fact-date">كتابة الإطار النظري</span></h3>
          <p class="fact-desc">تقدم أكاديمية المبدعون خدمة كتابة الإطار النظري، ويعد هذا الفصل من أهم وأدق فصول الرسالة ، حيث يتم تجميع المادة العلمية كاملة مع توثيق كافة المراجع والمصادر التي تم الرجوع اليها،  بالإضافة  إلى تناسق وترابط الأفكار التي يتضمنها البحث، حيث تشمل على عناوين رئيسية وفرعية لمفاهيم ومصطلحات الدراسة، وكتابة محتوى خالٍ من الأخطاء النحوية والسرقة الادبية</p>
        </div>
        <div class="fact-item" id="تقرير">
          <div class="fact-image">
            <img src="./../../assets/images/10.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>               
          <span class="fact-date"></span>
          <h3 class="fact-title"><span class="fact-date">تقرير فحص السرقة الأدبية </span></h3>
          <p class="fact-desc">تقوم أكاديمية المبدعون بتزويد الطالب بتقرير فحص السرقة الادبية من خلال اقوى مواقع  فحص الانتحال الادبي  Plagiarism    لضمان جودة وأصالة المحتوى، حيث يستغرق العمل ٢٤ساعة من تاريخ تحويل الرسوم، مع ضمان التعديلات المطلوبة</p>
        </div>
        <div class="fact-item" id="العناوين">
            <div class="fact-image">
              <img src="./../../assets/images/2.jpeg" alt=""  style="width: 226px; height: 180px;">             </div>              
            <h3 class="fact-title"><span class="fact-date">توفير المراجع وتلخيص الدراسات السابقة</span></h3>
            <p class="fact-desc">واحدة من أكثر المهام التي تستعصي على الطالب، اذ تتطلب منه وقتا وجهدا . 
                تقوم أكاديمية مبدعون بتوفير أحدث المراجع وتوفير الدراسات السابقة والمنشورة في المجلات العلمية المحكمة وتقوم بتلخيصها للباحث لدعم بحثه وتأكيد صحته.
                هناك أيضا مجموعة من العناصر التي تحتوي عليها خدمة تلخيص الدراسات السابقة وهي كالتالي:-
                    • اسم الباحث والسنة
                    • عنوان الدراسة
                    • الهدف من الدراسة
                    • منهج واداة الدراسة 
                    • مجتمع الدراسة
                    • نتائج الدراسة
                    • التوصيات
                    <br/>
                    كما تشمل الخدمة ترجمة الدراسات العربية والاجنبية او ترجمة الملخص حيث يستغرق العمل ثلاثة ايام فقط من تاريخ تحويل الرسوم</p>
          </div>
          <div class="fact-item" id="االدراسة">
            <div class="fact-image">
              <img src="./../../assets/images/5.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">ادوات الدراسة</span></h3>
            <p class="fact-desc">تتميز أكاديمية المبدعون عن غيرها بكادرها الأكاديمي المتخصص في تصميم  أدوات الدراسة  التي تتمتع بالصدق والثبات وتمنحها الخبرة القدرة على تصميم ادوات البحث وفقاً لمعايير البحث العلمي حيث تكون فعالة في القياس ومقننه وملائمة لعينة الدراسة وتوفر البيانات اللازمة للإجابة عن تساؤلات الدراسة. حيث يتم انجازه خلال فترة لا تتجاوز أسبوع واحد من تاريخ تحويل رسوم العمل</p>
          </div>

          <div class="fact-item" id="الاستبيان">
            <div class="fact-image">
              <img src="./../../assets/images/10.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>              
            <h3 class="fact-title"><span class="fact-date">الاستبيان</span></h3>
            <p class="fact-desc">يعد الاستبيان واحد من أهم ادوات الدراسة، وهي عبارة عن مجموعة من الأسئلة والتي قد يلجأ إليها الطالب وذلك لتكلفتها القليلة وسهولة استخدامها في تحليل البيانات. يستغرق اعداد الاستبيان  اسبوعا واحدا من تاريخ تحويل الرسوم،. مع ضمان التعديلات المطلوبة.
                وهناك عدة انماط للاستبيان وتشمل:-
                
                    • الاستبيان المفتوح
                    • الاستبيان المغلق
                    • الاستبيان  المختلط</p>
          </div>
          <div class="fact-item" id="الاختبارات">
            <div class="fact-image">
              <img src="./../../assets/images/4.jpeg" alt=""  style="width: 226px; height: 180px;">             </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">الاختبارات</span></h3>
            <p class="fact-desc">تعد الاختبارات اداة من ادوات الدراسة والتي تهدف إلى قياس السمات والتوجهات المتعلقة بالمجموعات والأفراد المستهدفين في الدراسة ، حيث يستغرق العمل اسبوعا واحدا من تاريخ تحويل الرسوم،. مع ضمان التعديلات المطلوبة</p>
          </div>        

          <div class="fact-item" id="الملاحظة">
            <div class="fact-image">
              <img src="./../../assets/images/5.jpeg" alt=""  style="width: 226px; height: 180px;">           </div>              
            <h3 class="fact-title"><span class="fact-date">الملاحظة</span></h3>
            <p class="fact-desc">تعد الملاحظة  اداة من ادوات الدراسة التي تعتمد على المشاهدة لظاهرة او سلوك معين ومن ثم تسجيل النتائج ، وتعتبر من أكثر أدوات البحث العلمي دقة. كما ويمكن تسجيلها وتصويرها على أشرطة سمعية ومرئية، حيث يستغرق انجاز الملاحظة اسبوعا واحدا من تاريخ تحويل الرسوم،. مع ضمان التعديلات المطلوبة</p>
          </div>
          <div class="fact-item" id="المقابلة">
            <div class="fact-image">
              <img src="./../../assets/images/8.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">المقابلة</span></h3>
            <p class="fact-desc">تعد المقابلة اداة من ادوات الدراسة حيث يتم اجراء حوار او محادثه بين الباحث والمبحوث  وجمع كافة المعلومات  التي يحتاجها الطالب.  يقوم الباحث بدوره بكتابة  اجابات الاسئلة. حيث يستغرق انجاز المقابلة اسبوعا واحدا من تاريخ تحويل الرسوم،. مع ضمان التعديلات المطلوبة</p>
          </div>


          <div class="fact-item" id="الاستبانةالالكترونية">
            <div class="fact-image">
              <img src="./../../assets/images/9.jpeg" alt=""  style="width: 226px; height: 180px;">             </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">الاستبانة الالكترونية</span></h3>
            <p class="fact-desc">تعد الاستبانة الالكترونية من أسرع ادوات الدراسة لعرض كل من المعلومات والبيانات للزائرين أو المستهدفين من الاستبيان وكذلك الحصول على إجابات منهم في مدة زمنية قصيرة، حيث يستغرق انجاز الاستبانة الالكترونية اسبوعا واحدا من تاريخ تحويل الرسوم،. مع ضمان التعديلات المطلوبة</p>
          </div>


          <div class="fact-item" id="الاحصائي">
            <div class="fact-image">
              <img src="./../../assets/images/1.jpeg" alt=""  style="width: 226px; height: 180px;">                </div>              
            <h3 class="fact-title"><span class="fact-date">التحليل الاحصائي ومناقشة النتائج</span></h3>
            <p class="fact-desc">يعد التحليل الاحصائي أيضا من أكثر الخدمات أهمية  حيث يتم من خلالها جمع كافة المعلومات والبيانات التي يحتاجها الباحث وتجهيزها لإجراء تحليل عليها  واستخراج نتائج حقيقة  وواضحة.
                ومن اهم برامج التحليل الاحصائي والذي بعد الأكثر شيوعا  برنامج spss  ويعد هذا النوع من البرامج الاكثر سهولة  في الاستخدام، حيث يُطلب من الباحث وضع البيانات المراد تحليلها في الاماكن المحددة داخل البرنامج ومن ثم ترك المهمة للبرنامج الذي يقوم بدوره بإجراء التحليل الاحصائي لهذه البيانات بسرعة كبيرة واعطاء نتائج حقيقية ودقيقة. كما ويتميز برنامج التحليل الاحصائي spss بقدرته على التعامل مع مختلف البيانات  كبيانات برنامج Excel وبيانات برنامج Me
                </p>
          </div>
          <div class="fact-item" id="الاستبانات">
            <div class="fact-image">
              <img src="./../../assets/images/10.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">تحكيم الاستبانات والدراسات</span></h3>
            <p class="fact-desc">تقدم لكم أكاديمية المبدعون خدمة التحكيم وذلك عن طريق توفير مجموعة كبيرة من المحكمين من حملة الماجستير والدكتوراه لتحكيم البحوث والادوات  والتدقيق والتقييم  لمختلف جوانب العمل</p>
          </div>

          <div class="fact-item" id="تحكيمالبحوث">
            <div class="fact-image">
              <img src="./../../assets/images/2.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>              
            <h3 class="fact-title"><span class="fact-date">تحكيم البحوث العلمية</span></h3>
            <p class="fact-desc">تقدم لكم أكاديمية المبدعون خدمة تحكيم البحوث العلمية ، وذلك عن طريق توفير مجموعة كبيرة من هيئة التدريس المختصة بتحكيم البحوث العلمية  وتقييمها ونقدها نقدا ادبيا</p>
          </div>
          <div class="fact-item">
            <div class="fact-image">
              <img src="./../../assets/images/4.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">تحكيم ادوات الدراسة</span></h3>
            <p class="fact-desc">تقدم لكم أكاديمية المبدعون خدمة تحكيم ادوات الدراسة ،حيث يتم عرض الاداة على  أعضاء هيئة تدريس من حملة الماجستير والدكتوراه  اصاحب الخبرة لتحكيم الاداة حسب الاسس العلمية الصحيحة.
                ويضمن لكم فريق المبدعون خدمة تحكيم البحوث العلمية وادوات الدراسة من قبل محكم واحد او اكثر وتسليم العمل خلال خمسة أيام فقط من تاريخ تحويل الرسوم</p>
          </div>

          <div class="fact-item" id="اللغوي">
            <div class="fact-image">
              <img src="./../../assets/images/7.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>              
            <h3 class="fact-title"><span class="fact-date">التدقيق اللغوي</span></h3>
            <p class="fact-desc">تقدم لكم أكاديمية المبدعون خدمة التدقيق اللغوي لرسائل الماجستير والدكتوراه وللباحثين الذين يسعون للحفاظ على المحتوى، وتصحيح الاخطاء اللغوية من قبل مدققين وخبراء مختصين ، حيث يقوم المدقق بقراءة الرسالة حرفيا وتدقيقها من أجل الوصول إلى أفضل النتائج. وتتضمن خدمة التدقيق اللغوي خدمة تشكيل الحروف والنصوص بالحركات.
                تضمن لكم أكاديمية المبدعون خدمة التدقيق اللغوي لرسائل الماجستير والدكتوراه  من قبل متخصصين ذوي كفاءة، مع تسليم العمل خلال الموعد المتفق عليه مع الالتزام بكافة التعديلات المطلوبة</p>
          </div>
          <div class="fact-item" id="الرسائل">
            <div class="fact-image">
              <img src="./../../assets/images/10.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">تنسيق البحوث والرسائل العلمية</span></h3>
            <p class="fact-desc">تعتبر خدمة تنسيق الرسائل العلمية والبحوث من أهم الخدمات التي يحتاجها الطالب ، فهي تعتبر الخطوة النهائية للبحث. مع إمكانية رفض البحث أو الرسالة اذا لم يتم عمل التنسيق اللازم والمعتمد على شروط الجامعة حتى وان كانت مكتملة العناصر. لذا نسعى جاهدين أن نكون معكم خطوة بخطوة وبتواصل مباشر مع المتخصصين للوصول لنتائج ترضي الطالب والمشرف. كما وتقدم أكاديمية المبدعون خدمة تنسيق الرسائل والأبحاث وذلك من قبل مختصين ذوي خبرة عالية في تنسيق الرسائل وفقاً للشروط</p>
          </div>

          <div class="fact-item" id="الترجمة">
            <div class="fact-image">
              <img src="./../../assets/images/7.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>              
            <h3 class="fact-title"><span class="fact-date">الترجمة</span></h3>
            <p class="fact-desc">تعتبر الترجمة من أكثر الخدمات الاكاديمية طلبا، حيث يحتاج الباحث الى ترجمة دقيقة وصحيحة خالية من الاخطاء الاملائية من خلال مختصي الترجمة الادبية والاكاديمية وصياغة  العبارات بطريقة صحيحة لا تؤدي الى تغيير المعنى ، ومن هنا تمد لكم أكاديمية المبدعون يد العون لمساعدة الطلبة والباحثين من خلال نخبة أكاديمية وخبراء مختصين في الترجمة والكتابة بأسلوب جذاب ومميز، حيث تتميز أكاديمية المبدعون بسرعة الانجاز والامانة في العمل. 
                وتشمل الترجمة. 
                    • ترجمة الأبحاث الأكاديمية ورسائل الماجستير والدكتوراه
                    • الترجمة الاكاديمية
                    • الترجمة الادبية
                    • الترجمة القانونية
                    • ترجمة الكتب والمقالات
                    • ترجمة السيرة الذاتية 
                    • ترجمة القصص والروايات. 
                وتضمن لكم أكاديمية المبدعون عملا جبارا وترجمة احترافيه، وانجاز العمل وتسليمه </p>
          </div>
          <div class="fact-item" id="نقدالدراسات">
            <div class="fact-image">
              <img src="./../../assets/images/2.jpeg" alt=""  style="width: 226px; height: 180px;">               </div>               
            <span class="fact-date"></span>
            <h3 class="fact-title"><span class="fact-date">نقد الدراسات السابقة</span></h3>
            <p class="fact-desc">تقدم أكاديمية المبدعون خدمة نقد الدراسات السابقة حيث تعتبر من أكثر الخدمات التي يصعب على الطالب انجازها، حيث تتطلب من الباحث ابداء رأيه ومدى توافقها مع دراسته الحالية. تشمل عملية نقد الدراسات السابقة على :-
                • نقد العنوان
                • نقد مشكلة الدراسة 
                • نقد الاطار النظري  من حيث ربط الدراسات ببعضها. 
                • نقد المنهجية
                • نقد التحليل الاحصائي 
                • نقد النتائج من حيث ربط النتائج السابقة مع النتائج الحالية. 
            حيث يستغرق العمل وقتا حسب عدد الصفحات المطلوبة. </p>
          </div>


          <div class="fact-item" id="العلمية">
            <div class="fact-image">
              <img src="./../../assets/images/1.jpeg" alt=""  style="width: 226px; height: 180px;">              </div>              
            <h3 class="fact-title"><span class="fact-date">نشر البحوث العلمية</span></h3>
            <p class="fact-desc">يعد نشر البحوث العلمية من الشروط والمقاييس العالمية للحصول على الترقيات الوظيفية والأكاديمية، لذا تقدم لكم أكاديمية المبدعون خدمة كتابة البحوث والاوراق العلمية للنشر ومساعدة الباحثين على النشر في مجلات علمية محكمة ، ويتطلب نشر الأبحاث العلمية أن يكون المشرف على نشر البحث ذو قدرة على التواصل مع المجلات العلمية المحكمة والقيام بالتعديلات اللازمة والمطلوبة من المجلات العلمية، وتستغرق أي عملية نشر بحث علمي في مجلة محكمة عدة أسابيع قبل الحصول على خطاب قبول النشر من المجلة العلمية.
                وتضمن لكم أكاديمية المبدعون خدمة التحكيم ٠حيث يتم قبول النشر وتزويدكم به في أقرب وقت ممكن مع اجراء كافة التعديلات المطلوبة على البحث ليصبح جاهزا للنشر</p>
          </div>


        <!-- <div class="fact-item">
          <a  href="javascript:void(0)" [routerLink]="['/home']" fragment="home" >
            <span class="yellow-ring"><b>الرجوع للصفحه<br/> الرئيسيه</b></span>

          </a>
        </div> -->
      </div>
    </div>
  </section>









<section>
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form"  [formGroup]="ServicesForm" (ngSubmit)="submit(ServicesForm.value)">
            <span class="login100-form-title p-b-59">
              اطلب خدمه 
              </span>

					<div class="wrap-input100 validate-input" data-validate="Name is required" style="text-align: right;" >
						<span class="label-input100">الاسم الاول</span>
						<input class="input100" type="text" matInput [formControl]="firstName" >
						<span class="focus-input100"></span>
          </div>
          
          <div class="wrap-input100 validate-input" data-validate="Name is required"  style="text-align: right;">
						<span class="label-input100">الاسم الاخير</span>
						<input class="input100" type="text" matInput [formControl]="lastName">
						<span class="focus-input100"></span>
					</div>



					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" style="text-align: right;">
						<span class="label-input100">البريد الالكترونى</span>
						<input class="input100" type="text" matInput [formControl]="email" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com" >
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              ادخل بريد الكترونى صحيح
             </mat-error>
             <mat-error *ngIf="email.hasError('required') && email.hasError('touched')">
              البريد الاكترونى <strong>مطلوب</strong>
            </mat-error>  
						<span class="focus-input100"></span>
          </div>
          

					<div class="wrap-input100 validate-input" data-validate="phone is required"  style="text-align: right;">
            <span class="label-input100">الجوال</span>
            <mat-icon matSuffix>mobile_screen_share</mat-icon>
            <input class="input100" type="tel" matInput placeholder="555-555-1234" [formControl]="phone">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "service is required" style="text-align: right;">
						<span class="label-input100">خدماتنا</span>
            <input class="input100" type="text" matInput formControlName="service" required [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                <mat-option *ngFor="let name of group.names" [value]="name">
                  {{name}}
                </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
						<span class="focus-input100"></span>
          </div>
          
          <mat-form-field class="example-full-width" style="background-color: white;">
            <ngx-mat-file-input formControlName="files" placeholder="PDF, Word & Img files only" (change)="fileChangeEvent($event)" [multiple]="true" [accept]="['.pdf', '.jpg', '.png']"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
			

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
                ارسال
							</button>
            </div>
            
          </div>
          
          <div class="col-md-12 mr-auto">
            <flash-messages></flash-messages>

          </div>
				</form>
			</div>
		</div>
  </div>

	
</section>
