.flash-message
{
    z-index: 10000;
    position: relative;
}

.alert-success{
    background-color: green;
}

.alert-error{
    background-color: red;

}


.logo-pic{
    position: fixed;
    background-image: url(../../assets/images/logo.png);
    width: 14vw;
    height: 20vh;
    z-index: 9999999;
    left: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}





