.flash-message
{
    z-index: 10000;
    position: relative;
}

.alert-success{
    background-color: green;
}

.alert-error{
    background-color: red;

}


    .logo-pic{
        background-image: url(../../assets/images/logo.png);
        width: 14vw;
    height: 12vh;
    z-index: -2;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    }





